---
# Only the main Sass file needs front matter (the dashes are enough)
---
	@charset "utf-8";

/* * * * * HTML Elements * * * * */

	body {
		background-color: #FFF;
	}
	nav {
		background-color: #FFF;

			.brand-logo {
				color: #26a69a;
			}
			ul a, a {
				color: #26a69a;
			}
			.nav-wrapper .side-nav i {
				font-size: 1.4rem;
			}
			.side-nav hr {
			    -webkit-margin-before: 0;
			    -webkit-margin-after: 0;
			}
			i {
				height: auto;
				line-height: 64px;
			}
			.social-nav {
				clear: both;
				float: right !important;
				margin-top: -64px;

				a {
					padding: 0 15px;
					font-size: 1.4rem;
					height: 100%;
					display: inline-block;
					margin-right: -4px;
					background-color: #26a69a;
					color: #FFF
				}
				a:hover {
					opacity: 0.6;
				}

			}

	}
	a {
		color: #26a69a;

			&:hover {
				opacity: 0.6;
			}

	}
	p {
		font-size: 1.3rem;
		color: #777;
		font-weight: 300;
	}
	#sidenav-overlay {
		z-index: 996;
	}

/* * * * * Reusable Content Classes * * * * */

	.container {
		max-width: 100%;
	}

	.thin {
		color: #777;
		font-weight: 300;
	}

	.bold {
		font-weight: 500;
	}

	.slider {
		margin-bottom: 40px;
	}

	.colorize {
		color: #26a69a;
	}

	.pink-text {
		color: #ee6e73;
	}

	.gray {
		color: #777;
	}

	.slider .slides h4 {
		color: #26a69a;
	}

	.slider .slides li .caption {
		top: auto;
		bottom: 40px;
	}

		.caption .thin {
			color: #FFF;
		}

	.slider-title {
		margin: 100px 0 100px 0;
	}

		.slider-title h3 {
			margin: 0;
		}

	.review-slider {
		margin-bottom: -40px;
	}

		.review-slider .slides {
			background-color: #000;
		}

		.review-slider img {
			opacity: 0.9;
		}

		.review-slider .indicators {
			bottom: 60px;
			z-index: 997;
		}

		.review-slider .indicators .indicator-item {
			background-color: #FFF;
		}

	.darkbox {
		background-color:rgba(0, 0, 0, 0.3);
		padding: 20px 25px 40px 25px;
	}

	.parallax-container {
		height: 600px;
	}

	.textbox {
		background-color: rgba(255,255,255,0.7);
		width: 100%;
		position: absolute;
		bottom: 0;
	}

		.textbox h1, .textbox p {
			color: #000;
		}

	.featured-text h3, .featured-text h4, .featured-text p, .featured-link {
		color: #FFF;
	}

		.featured-text i {
			font-size: 60px;
		}

		.featured-text h4, .featured-text p {
			margin: 5px 0 0 10px;
		}

		.featured-text h4:hover, .featured-text p:hover {
			opacity: 0.6;
		}

	.featured-sm {
		background: #26a69a;
		padding: 60px 0 60px 0;
		margin: 0;
	}

		.featured-sm h3, .featured-sm h5, .featured-sm p, .featured-sm a {
			color: #FFF;
		}

		.featured-sm i {
			font-size: 100px;
		}

		.featured-sm p {
			font-size: 1rem;
		}

		.featured-sm h3, .featured-sm h5, .featured-sm p {
			margin: 0;
		}

			.featured-sm h3 {
				padding-bottom: 40px;
			}

		.featured-sm h5:hover, .featured-sm p:hover {
			opacity: 0.6;
		}

	.featured-vid {
		margin: 0;
		padding: 0;
	}

		.modal-content .video-container, .featured-vid .video-container, .featured-vid-sm .video-container {
			margin-bottom: 0;
		}

	.featured-vid-sm {
		margin: 0;
		padding: 20px 0 20px 0;
		background: #000;
	}

	.cta {
		width: 100%;
		border-radius: 0;
		height: auto;

		h3 {
			margin: 3rem;
		}
		i {
			font-size: 2.92rem;
	    	line-height: 110%;
		}
	}
	@media (max-width: 479px) {
		.cta h3 {
			font-size: 2rem;
			margin: 1.5rem;
		}
		.cta i {
			font-size: 2rem;
		}
	}

	.padbox {
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.callout {
		background-color: #26a69a;
		color: #FFF;
		padding-top: 60px;
		padding-bottom: 60px;
		margin: 0;
	}
		.callout h2 {
			margin: 0;
			margin-bottom: 1rem;
		}
		.callout p {
			margin: 0;
		}

	.video-container {
		margin-bottom: 20px;
	}

	.slider .indicators .indicator-item.active {
	    background-color: #26a69a;
	}

	hr.heart {
		text-align: center;
	}

		hr.heart:after {
			content: '\002665';
			display: inline-block;
			position: relative;
			top: -13px;
			padding: 0 10px;
			background: none;
			color: #FFF;
			font-size: 18px;
		}

	#map {
		margin: 0;
		opacity: 0.7;
		height: 400px;
		width: 100%;
	}

	.clients a:hover {
		opacity: 1;
		cursor: pointer;
	}

	@media (max-width: 992px) {
		.mainvideo {
			height: 230px;
		}

		.parallax-container {
			height: 400px;
		}

		.padbox {
			margin-top: 40px;
			margin-bottom: 60px;
		}
	}

	@media (min-width : 600px) {
		.show-on-small-only {
	    	display: none !important;
	    }
	}

	@media (max-width: 600px) {
	    .parallax-container {
			height: 250px;
		}
		.padbox {
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}

	/**** Form CSS ****/

		/*-----error/success messages-----*/
		.error {
			background: #ee6e73;
			color: #FFF;
			padding: 15px !important;
			margin-bottom: 25px;
		}

		.success{
			background: #26a69a;
			color: #FFF;
			padding: 15px !important;
			margin-bottom: 25px;
		}

	/*! Gray v1.4.5 (https://github.com/karlhorky/gray) | MIT */
	.grayscale {
	  /* Firefox 10-34 */
	  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");

	  /*
	    Chrome 19+,
	    Safari 6+,
	    Safari 6+ iOS,
	    Opera 15+
	  */
	  -webkit-filter: grayscale(1);

	  /* Firefox 35+ */
	  filter: grayscale(1);

	  /* IE 6-9 */
	  filter: gray;
	}

	.grayscale.grayscale-fade {
	  transition: filter .5s;
	}

	/* Webkit hack until filter is unprefixed */
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
	  .grayscale.grayscale-fade {
	    -webkit-transition: -webkit-filter .5s;
	    transition:         -webkit-filter .5s;
	  }
	}

	.grayscale.grayscale-off,
	.grayscale.grayscale-fade:hover {
	  -webkit-filter: grayscale(0);
	  filter:         grayscale(0);
	}

	/* Background element */
	.grayscale.grayscale-replaced {
	  -webkit-filter: none;
	  filter:         none;
	}

	.grayscale.grayscale-replaced > svg {
	  -webkit-transition: opacity .5s ease;
	  transition:         opacity .5s ease;
	  opacity: 1;
	}

	.grayscale.grayscale-replaced.grayscale-off > svg,
	.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
	  opacity: 0;
	}

	footer.page-footer {
		background-color: rgba(38,166,154,0.1);
		margin-top: 0;
		padding-top: 40px;
	}
		footer.page-footer .top-footer.row {
			margin-bottom: 40px;
		}
	footer.page-footer .footer-copyright {
		background-color: #26a69a;
		color: #FFF;
		height: auto
	}
	.page-footer p {
		margin-bottom: 0;
	    -webkit-margin-after: 0;
	}
	.page-footer i {
		font-size: 1.6rem;
		padding: 0 7px;
	}
	.footer-copyright i {
		color: #FFF;
		line-height: 60px;
	}
	.footer-copyright a {
		display: inline-block;
	}
	.footer-copyright .row {
		margin-bottom: 0;
	}
	.footer-copyright p {
		-webkit-margin-before: 7px;
		color: #FFF;
	}

	/***** Pricing Tables *****/

	/* STYLE 1 */
	.pricing.style-1 .price {
	    border-top-left-radius: 2px;
	    border-top-right-radius: 2px;
	}
	.pricing.style-1 .plan-signup-btn a {
		padding: 15px;
		height: auto;
		font-size: 1.2rem;
		font-weight: 300;
	}

	/* COMMON STYLE */
	.pricing .price {
	    padding: 15px 0;
	    background-color: #26a69a;
	}
	.pricing .price h4,
	.pricing .plan-title h5{
	    text-align: center;
	    line-height: 60%;
	}
	.pricing .price span,
	.pricing .plan-title span{
	    display: inline-block;
	    position: relative;
	}
	.pricing .plan-title span.plan{
	    font-size: 1.8rem;
	    font-weight: 100;
	}
	.pricing .price span.amount {
	    font-size: 3.5rem;
	    font-weight: 100;
	}
	// .pricing .price span.period {
	//     margin-left: -10px;
	// }
	.pricing .price span.currency {
	    letter-spacing: -6px;
	    top: -20px;
	}
	.pricing .price span.currency, .pricing .price span.period {
	    font-size: 1.2rem;
	    font-weight: 100;
	}
	.pricing .collection li.collection-item:hover{
	    background: #f5f5f5;
	}
	.dark-grey-text {
	    color: #121212;
	}
	.collection {
		margin: 0.5rem 0 0.5rem 0;
	}
	.collection .collection-item {
		padding: 15px 20px;
		line-height: 1.8rem;
		font-size: 1.6rem;
		font-weight: 300;
	}
	.row.wedding-grid .col {
		padding: 0;
		margin: 0;
	}
	.row.wedding-grid {
		margin: 0;
	}
	/**** Wedding Video Grid *****/
	/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
	.fancybox-wrap,
	.fancybox-skin,
	.fancybox-outer,
	.fancybox-inner,
	.fancybox-image,
	.fancybox-wrap iframe,
	.fancybox-wrap object,
	.fancybox-nav,
	.fancybox-nav span,
	.fancybox-tmp
	{
		padding: 0;
		margin: 0;
		border: 0;
		outline: none;
		vertical-align: top;
	}

	.fancybox-wrap {
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		z-index: 8020;
	}

	.fancybox-skin {
		position: relative;
		background: #f9f9f9;
		color: #444;
		text-shadow: none;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		        border-radius: 4px;
	}

	.fancybox-opened {
		z-index: 8030;
	}

	.fancybox-opened .fancybox-skin {
		-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
		   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
		        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	}

	.fancybox-outer, .fancybox-inner {
		position: relative;
	}

	.fancybox-inner {
		overflow: hidden;
	}

	.fancybox-type-iframe .fancybox-inner {
		-webkit-overflow-scrolling: touch;
	}

	.fancybox-error {
		color: #444;
		font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
		margin: 0;
		padding: 15px;
		white-space: nowrap;
	}

	.fancybox-image, .fancybox-iframe {
		display: block;
		width: 100%;
		height: 100%;
	}

	.fancybox-image {
		max-width: 100%;
		max-height: 100%;
	}

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(fancybox_sprite.png);
	}

	#fancybox-loading {
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -22px;
		margin-left: -22px;
		background-position: 0 -108px;
		opacity: 0.8;
		cursor: pointer;
		z-index: 8060;
	}

	#fancybox-loading div {
		width: 44px;
		height: 44px;
		background: url(fancybox_loading.gif) center center no-repeat;
	}

	.fancybox-close {
		position: absolute;
		top: -18px;
		right: -18px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		z-index: 8040;
	}

	.fancybox-nav {
		position: absolute;
		top: 0;
		width: 40%;
		height: 100%;
		cursor: pointer;
		text-decoration: none;
		background: transparent url(blank.gif); /* helps IE */
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		z-index: 8040;
	}

	.fancybox-prev {
		left: 0;
	}

	.fancybox-next {
		right: 0;
	}

	.fancybox-nav span {
		position: absolute;
		top: 50%;
		width: 36px;
		height: 34px;
		margin-top: -18px;
		cursor: pointer;
		z-index: 8040;
		visibility: hidden;
	}

	.fancybox-prev span {
		left: 10px;
		background-position: 0 -36px;
	}

	.fancybox-next span {
		right: 10px;
		background-position: 0 -72px;
	}

	.fancybox-nav:hover span {
		visibility: visible;
	}

	.fancybox-tmp {
		position: absolute;
		top: -99999px;
		left: -99999px;
		max-width: 99999px;
		max-height: 99999px;
		overflow: visible !important;
	}

	/* Overlay helper */

	.fancybox-lock {
	    overflow: visible !important;
	    width: auto;
	}

	.fancybox-lock body {
	    overflow: hidden !important;
	}

	.fancybox-lock-test {
	    overflow-y: hidden !important;
	}

	.fancybox-overlay {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		display: none;
		z-index: 8010;
	    background-color: rgba(0,0,0,0.9);
	}

	.fancybox-overlay-fixed {
		position: fixed;
		bottom: 0;
		right: 0;
	}

	.fancybox-lock .fancybox-overlay {
		overflow: auto;
		overflow-y: scroll;
	}

	/* Title helper */

	.fancybox-title {
		visibility: hidden;
		font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
		position: relative;
		text-shadow: none;
		z-index: 8050;
	}

	.fancybox-opened .fancybox-title {
		visibility: visible;
	}

	.fancybox-title-float-wrap {
		position: absolute;
		bottom: 0;
		right: 50%;
		margin-bottom: -35px;
		z-index: 8050;
		text-align: center;
	}

	.fancybox-title-float-wrap .child {
		display: inline-block;
		margin-right: -100%;
		padding: 2px 20px;
		background: transparent; /* Fallback for web browsers that doesn't support RGBa */
		background: rgba(0, 0, 0, 0.8);
		-webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		        border-radius: 15px;
		text-shadow: 0 1px 2px #222;
		color: #FFF;
		font-weight: bold;
		line-height: 24px;
		white-space: nowrap;
	}

	.fancybox-title-outside-wrap {
		position: relative;
		margin-top: 10px;
		color: #fff;
	}

	.fancybox-title-inside-wrap {
		padding-top: 10px;
	}

	.fancybox-title-over-wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		color: #fff;
		padding: 10px;
		background: #000;
		background: rgba(0, 0, 0, .8);
	}

	/*Retina graphics!*/
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
		   only screen and (min--moz-device-pixel-ratio: 1.5),
		   only screen and (min-device-pixel-ratio: 1.5){

		#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
			background-image: url(/img/fancybox_sprite@2x.png);
			background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
		}

		#fancybox-loading div {
			background-image: url(/img/fancybox_loading@2x.gif);
			background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
		}
	}

	.video {
		width: 25%; /* Thumbnails 4 across */
		float: left;
		margin-bottom: -6px;
	}
	figure {
		margin: 0;
	}
	// @media (max-width: 1600px) {
	// 	.video {
	// 	  	width: 33.333%;
	// 	}
	// }
	@media (max-width: 1200px) {
		.video {
		  	width: 50%;
		}
	}

	@media (max-width: 360px) {
		.video {
		  display: block;
		  width: 100%;
		  float: none;
		}
	}
	.video img {
		width: 100%;
		opacity: 1;
	}
	.video img:hover, .video img:active, .video img:focus {
		opacity: 0.75;
	}
	.awards {
		white-space: nowrap;
	  max-width: 100%;
	  margin-bottom: 0;
	  background-color: #26a69a;

		a, .thin {
				color: #FFF;
		}
		h4 {
			text-align: center;
			margin: 0;
			line-height: 0.9;
		}
			h4 small {
				font-size: 63%;
			}
	}
	.award-item {
		max-width: 50%;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		white-space: normal;
	}
	.awards-title {
		position: absolute;
		width: 100%;
		display: none;
	}
	 .award-item img {
		 margin-bottom: -6px;
	 }
	 .awards-container {
		 margin: 0 auto;
	 }
		 @media only screen and (min-width: 993px) {
			.awards-container {
				width: 70%;
			}
			.item-left {
				float: left;
			}
			.item-right {
				float: right;
			}
			.awards-title {
				display: block;
			}
		}
	// Image headers
	.img-header {
		height: 300px;
	}
		@media (min-width: 993px) {
			.img-header {
				height: 450;
			}
		}
		@media (min-width: 1200px) {
			.img-header {
				height: 600px;
			}
		}
	.contact-header {
		background: url({{ site.baseurl }}/img/contact.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	.about-header {
		background: url({{ site.baseurl }}/img/about.jpg) no-repeat center bottom fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	.weddings-header {
		background: url({{ site.baseurl }}/img/weddings.jpg) no-repeat center top fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	.pricing-header {
		background: url({{ site.baseurl }}/img/kait.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	.faq-header {
		background: url({{ site.baseurl }}/img/faq.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	.home-header.slider {
		margin-bottom: 0;
	}
	.home-header.slider .slides li .caption {
		left: 0;
		bottom: 0;
		padding: 0 20px 0 20px;
		width: 100%;
		background-color: rgba(255,255,255,0.7);
	}
	.home-header .caption .thin, .home-header.slider .slides li .caption p {
		color: #000;
	}
