---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* * * * * Import Bulma * * * * */

		@charset "utf-8";

		@import "utilities/_all";
		@import "base/_all";
		@import "elements/_all";
		@import "components/_all";
		@import "grid/_all";
		@import "layout/_all";

/* * * * * General Classes * * * * */

		.title {
			font-weight: 200;

			strong {
				font-weight: 700;
			}
			span {
				color: $turquoise;
			}
		}
		.video-container {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.button.is-primary:hover, .button.is-primary.is-hovered,
		.button.is-primary:hover, .button.is-primary.is-hovered {
			background-color: transparent;
	    border-color: $turquoise;
	    color: $turquoise;
		}
		.dark-overlay {
			background-color: rgba(0,0,0,0.25);
		}
		.light-overlay {
			background-color: rgba(255,255,255,0.25);
		}

/* * * * * Navigation Classes * * * * */

		nav {
			position: fixed !important;
			top: 0;
			left: 0;
			right: 0;
			background-color: rgba(255,255,255,0.8) !important;

			.is-hidden-tablet i {
				margin-right: 1rem;
			}
			.is-icon {
				color: #FFF;
				background-color: $turquoise;

				&:hover {
					color: #FFF;
					border-bottom-color: #FFF !important;
				}
				&:hover i {
					opacity: 0.7;
				}
			}
			.nav-item {
				img {
					height: 1.75rem;
				}
			}
			.nav-toggle{
				&:hover {
					background-color: transparent;
				}
				span {
					background-color: $turquoise;
				}
			}
			.nav-toggle.is-active {
		    background-color: #FFF;
			}
		}
		.nav-item a.is-tab, a.nav-item.is-tab {
			border-bottom: 3px solid transparent;
		}

/* * * * * Hero Component * * * * */

		.hero.is-home {
			background: url({{ site.baseurl }}/img/home1.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			color: #FFF;
		}
		.hero.is-home2 {
			background: url({{ site.baseurl }}/img/home2.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			color: #FFF;
		}
		.hero.is-about, .section.is-about {
			background: url({{ site.baseurl }}/img/about.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			color: #FFF;
		}

/* * * * * Reviews Component * * * * */

		.reviews-container {
			background: url({{ site.baseurl }}/img/home2.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

			.card {
				background-color: rgba(255,255,255,0.85)
			}
			.container {
				padding: 6rem 3rem 6rem 3rem;
			}
			.light-overlay {
				background-color: rgba(255,255,255,0.85)
			}
			.content h1, .content h2, .content h3,
			.content h4, .content h5, .content h6 {
				font-weight: 200;
			}
			figure {
				border-right: 1px solid #000;
			}
			i {
				font-size: 4.2rem;
				line-height: 5.4rem;
			}
			.awards {
				.container {
					padding-top: 3rem;
					padding-bottom: 3rem;
				}
			}
		}

/* * * * * Footer Component * * * * */

		.footer {
			background-color: $turquoise;
			color: #FFF;
			font-size: 1.5rem;
			padding: 1.5rem;

			a {
				color: #FFF;

				&:hover {
					opacity: 0.6;
				}
			}
			.social {
				text-align: right;
			}
		}
		.subfooter {
			background-color: rgba(38,166,153,0.2);
			color: #999;
		}
