---
layout: default
active: about
permalink: /about/
title: "About Us"
description: "Steve and Jane DiMaggio are South New Jersey's premier cinematic filmographers. Learn all about Color Room Film, its values and its mission here!"
image: /img/heros/about.jpg
keywords:
  - New Jersey
  - videographer
  - wedding film
  - cinematic
  - motion picture memories
  - NJ
  - wedding video
  - wedding movie
  - about
  - Steve DiMaggio
  - Jane DiMaggio
  - recording

team:
  - name: Steve
    image: /img/team/steve.jpg
    bio: Co-owner and Lead Shooter of our Epic Package, Steve has always had a passion for taking others' creative ideas and bringing them to fruition. From owning and designing world-class recording studios to taking your wedding's vision and making it a reality, he's always all-in. Steve shoots exclusively on his Red Epic-W in 8K.
  - name: Jane
    image: /img/team/jane.jpg
    bio: Co-owner and Lead Documentary Shooter, Jane has been in the wedding business for over 15 years. Starting out shooting photography at a young age, she has the experience to make sure we capture your day in the most honest way possible through our documentary coverage. Jane is great with making people feel comfortable in front of the camera.
  - name: Pete
    image: /img/team/pete.jpg
    bio: Pete has been shooting weddings, sweet 16s, and corporate events for the better part of twenty years. A graduate of the School of Visual Arts for Film, Pete brings a sophisticated eye to our films. Pete has spearheaded many independent films that have gone on to win national awards and is our Lead Shooter of our Scarlet package, shot exclusively on his RED Scarlet-W.
  - name: Sam
    image: /img/team/sam.jpg
    bio: Nulla aliquip ex voluptate dolor laboris aute consectetur ut tempor tempor irure in sint esse minim elit eu.

heroimg: /img/heros/about.jpg
heroalt: Steve, Jane and their two daughters
herotitle: Steve & Jane DiMaggio
heroem: Color Room Films - Owners / Cinematographers
---

  <!-- Hero Component -->

    {% include responsivehero.html %}

  <!-- Content Header -->

    <section class="section is-medium" id="content">
      <div class="container has-text-centered">

        <h3 class="title is-1">
          We consider ourselves filmmakers, not just wedding videographers.
        </h3>
        <p class="subtitle is-4">
          <em>Our goal is to tell your story through motion pictures.</em>
        </p>

      </div>
    </section>

  <!-- Main Content -->

    <section class="hero is-medium is-dark is-bold">
      <div class="hero-body">
        <div class="container">

          <h3 class="title is-1">
            <strong>Our story</strong>
          </h3>
          <p class="subtitle is-4 is-spaced">
            Before becoming a filmmaker, Steve was a professional musician and studio owner who traveled the country
            to record and play music. From New Jersey to California, and everywhere in between, he captured these
            stories through motion picture.
          </p>
          <p class="subtitle is-4 is-spaced">
            After 10 years of recording and being on the road, Steve's passion for recording music had him, his soon
            to be wife and dog, Meeka, getting ready for a move halfway across the country to work for the leading
            retailer and designer in customer recording studios. While working in the midwest, Steve received a formal
            training in videography, cinematography techniques and equipment that formed the technical basis for his
            style, all while he continued to film bands and events as a courtesy to friends.
          </p>
          <p class="subtitle is-4 is-spaced">
            After half a decade in the midwest, Steve and Jane decided to start a family and head back to New Jersey
            (now with 3 dogs and first daughter, Carmella). After a bit of soul-searching when returning, Steve took
            an opportunity to manage and create video content for a national music store.
          </p>
          <p class="subtitle is-4">
            Through Jane's wedding photography business, their film work organically grew to what it is today. Because
            of this gradual maturation process, Steve and Jane have been able to hone their skills and really dig into
            what each couple wants. Our deepest core value is to deliver a wedding film that is honest and far above
            any previous expectation by the couple. We are able to accomplish this by keeping our rates low, using
            Hollywood-grade equipment and never allowing ourselves to be completely satisfied.
          </p>

        </div>
      </div>
    </section>

    <!-- Team Header -->

      <section class="section is-medium">
        <div class="container has-text-centered">

          <h3 class="title is-1">
            Meet the team
          </h3>

        </div>
      </section>

    <!-- Team Image -->

      <img src="{{ site.baseurl }}/img/team/team.jpg" alt="The Color Room Films Team" style="margin-bottom: -10px;" />

    <!-- Team Cards -->

      <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
          <div class="container">

            <div class="columns">
              {% for member in page.team %}
                <div class="column">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-1by1">
                        <img src="{{ site.baseurl }}{{ member.image }}" alt="Image of {{ member.name }}" />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <h3>{{ member.name }}</h3>
                        {{ member.bio }}
                        <!-- <br>
                        <small>
                          <a href="https://twitter.com/{{ member.twitter }}" target="_blank" title="Connect with {{ member.name }} on Twitter" style="color:#26a69a">
                            @{{ member.twitter }}
                          </a>
                        </small> -->
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </section>

  <!-- Call to Action -->

    <section class="section is-medium">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <h3 class="title is-1">Want to learn more?</h3>
            <a class="button is-primary is-outlined is-large" href="{{ site.baseurl }}/weddings/" title="Visit our Weddings page to view more of our work">We have plenty to share!</a>
          </div>
          <div class="column">
            <h3 class="title is-1">Ready to talk?</h3>
            <a class="button is-primary is-large" href="{{ site.baseurl }}/contact/" title="Visit our Contact page and send us a message">Send us a message!</a>
          </div>
        </div>
      </div>
    </section>
