---
layout: default
permalink: /pricing/
title: "Pricing"
description: "Color Room Films is New Jersey's premier cinematographer. One price - All the coverage you want."
image: /img/heros/pricing.jpg

sitemap: false

pricing:

  - name: Single Shooter Package
    price: 1989
    features:
      - name: 1 Shooter
      - name: Shot in 1080p
      - name: Delivered in 1080p
      - name: Choice of trailer, or
      - name: Choice of full film
      - name: Up to 8 hours of coverage
      - name: No drone coverage
    url: /pricing/single/

  - name: Scarlet Package
    price: 2899
    features:
      - name: 2 Shooter
      - name: Shot in 5K / 4K
      - name: Delivered in 4K
      - name: Trailer included
      - name: Full film included
      - name: Up to 8 hours of coverage
      - name: No drone coverage
    url: /pricing/scarlet/

  - name: Epic Package
    price: 3599
    features:
      - name: 2 Shooter
      - name: Shot in 8K / 4K
      - name: Delivered in 4K
      - name: Trailer included
      - name: Full film included
      - name: Up to 12 hours of coverage
      - name: Drone coverage included
    url: /pricing/epic/

  - name: Epic Scarlet Package
    price: 5499
    features:
      - name: 3 Shooter
      - name: Shot in 8K / 5K / 4K
      - name: Delivered in 4K
      - name: Trailer included
      - name: Full film included
      - name: Up to 12 hours of coverage
      - name: Drone coverage included
    url: /pricing/epicscarlet/

heroimg: /img/heros/pricing.jpg
heroalt: Bride's hands with ring
herotitle: All the coverage you want
heroem: With packages for all budgets.
---

  <!-- Hero Component -->

    {% include hero.html %}

  <!-- Content Header -->

    <section class="section is-medium" id="content">
      <div class="container">
        <h3 class="title is-1 has-text-centered">Our packages</h3>
        <div class="columns has-text-centered">

          {% for tier in page.pricing %}
            <div class="column">
              <div class="pricing">
                <a href="{{ site.baseurl }}{{ tier.url }}" title="Learn more about our {{ tier.name }} here">
                  <h3 class="title is-4">
                    {{ tier.name }}
                  </h3>
                </a>
                {% for feature in tier.features %}
                  <div class="feature">
                    <span>{{ feature.name }}</span>
                  </div>
                {% endfor %}
                <div class="pricing-footer">
                  <span>${{ tier.price }}*</span>
                </div>
                <a class="tier-url" href="{{ site.baseurl }}{{ tier.url }}" title="Learn more about our {{ tier.name }} here">
                  Learn more
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
        <p class="has-text-centered">
          *<strong>Tax included.</strong> A 20% deposit is due upon signing your contract.
        </p>

      </div>
    </section>

  <!-- Reviews Component -->

    {% include reviews.html %}
