---
layout: default
permalink: /pricing/scarlet/
title: "Scarlet | Pricing | Scarlet Package"
description: "Learn more about the Scarlet Video Package by Color Room Films."
image: /img/heros/pricing.jpg

heroimg: /img/heros/pricing.jpg
heroalt: Wedding in the snow
herotitle: Scarlet Package
herosub: "$2899, "
heroem: tax included
---

  <!-- Hero Component -->

    {% include hero.html %}

  <!-- Content Header -->

    <section class="section is-medium" id="content">
      <div class="container">
        <h3 class="title is-1 has-text-centered">What's included:</h3>
      </div>
    </section>

  <!-- Things We Do -->

    <section class="hero is-medium is-dark is-bold pricing-grid plus">
        <div class="hero-body">
            <div class="container">
                <div class="columns">

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong>(1) Lead + (1) Documentary Shooter</strong>
                        </h3>
                        <p class="subtitle is-4">
                            You will receive 2 shooters all day, one focused on main content shots and the other on capturing all the special behind-the-scenes moments.
                        </p>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong>10 hours of coverage</strong>
                        </h3>
                        <p class="subtitle is-4">
                            Normally we try to start about a half hour before photo starts. This allows the photographer
                            to have time with "the details" alone if they would like. We will communicate before hand
                            with the couple and the photographer to see what the perfect schedule would be. Every wedding
                            is different so we don't have a hard and fast contracted time in our quotes
                        </p>
                    </div>

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong>Shot in 5K/4K, delivered in 4K</strong>
                        </h3>
                        <p class="subtitle is-4">
                            By shooting in higher resolutions we are able to not use intrusive lighting, while producing
                            the most flattering motion pictures possible.
                        </p>
                    </div>

                </div>

                <h3 class="title is-3">
                    <i class="icon-plus" aria-hidden="true"></i> <strong> All-day (3) camera shoot of your day's important events</strong>
                </h3>
                <p class="subtitle is-4">
                    We use (2) static 4K cameras on tripods will be moved around depending on your venue and (1)
                    <a href="http://www.red.com/products/scarlet-w" title="Learn more about the RED Scarlet-W" target="_blank">
                        5K RED Scarlet-W
                    </a> that we use to shoot your trailer footage. Everything we use is compact, so we can stay out of
                    your way. We <strong>never</strong> use lights, to make sure everyone is comfortable in front of the
                    camera. We do our best to never bring any attention to us and to stay out of the photographer's way
                    by shooting with them. We never want to get in the way of guests or your photographers.
                </p>

                <div class="columns">

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong> Multiple delivery formats</strong>
                        </h3>
                        <p class="subtitle is-4">
                            We use MediaZilla as it provides the easiest way to download, burn DVD/Blu Ray and view from
                            your computer. Also included is a Vimeo Portfolio in 4K of your films, which is best for
                            viewing on a phone or streaming via your smart TV, Apple TV or Roku. Here is an
                            <a href="https://mediazilla.com/Iojvtr313" title="MediaZilla example delivery" target="_blank">
                                example of MediaZilla's package
                            </a> as well as a
                            <a href="https://vimeopro.com/colorroomfilms/stefanie-and-frank" title="Example Vimeo Portfolio" target="_blank">
                                Vimeo Portfolio
                            </a>.
                        </p>
                    </div>

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong> (1) Trailer and full-length film</strong>
                        </h3>
                        <p class="subtitle is-4">
                            Normally, we use 1 or 2 songs for your trailer (we purchase the publishing for the music
                            that's used exclusively for your wedding), however, since we don't do cookie cutter trailers,
                            this number may change in edit. Full films generally range from 1 to 2 hours depending on a
                            variety of factors including ceremony length, first look, intros, ect. Here is
                            <a href="https://vimeo.com/218975842" title="Example wedding trailer video" target="_blank">
                                a trailer example
                            </a> as well as
                            <a href="https://vimeo.com/215851833" title="Example wedding full-length film" target="_blank">
                                a full-length example
                            </a>.
                        </p>
                    </div>

                </div>

                <div class="columns">

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong> Delivery within (30) days</strong>
                        </h3>
                        <p class="subtitle is-4">
                            Our contract reads (90) days but normally our turnaround is <strong>much</strong> faster -
                            usually, within a week or two, depending on a variety of factors. Since we shoot at very high
                            resolutions, it can take a week for films to render (upload to sites, ect.).
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

  <!-- Things we don't do Component -->

    {% include wedontdo.html %}

  <!-- Call to Action -->

    <section class="section is-large">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <h3 class="title is-1">Want to see our other packages?</h3>
            <a class="button is-primary is-outlined is-large" href="{{ site.baseurl }}/pricing/" title="Visit our Pricing page to see our other packages">Go back to Pricing page</a>
          </div>
          <div class="column">
            <h3 class="title is-1">Need more coverage?</h3>
            <a class="button is-primary is-large" href="{{ site.baseurl }}/pricing/epic/" title="Learn more about our Epic package">Check out our Epic package!</a>
          </div>
        </div>
      </div>
    </section>
