---
layout: default
permalink: /pricing/single/
title: "Pricing | Scarlet Package"
description: "Color Room Films is South New Jersey's premier cinematic filmographer. One price - All the coverage you want."
image: /img/heros/pricing.jpg

heroimg: /img/heros/pricing.jpg
heroalt: Wedding in the snow
herotitle: Single Shooter Package
herosub: "$1989, "
heroem: tax included
---

  <!-- Hero Component -->

    {% include hero.html %}

  <!-- Content Header -->

    <section class="section is-medium" id="content">
      <div class="container">
        <h3 class="title is-1 has-text-centered">What's included:</h3>
      </div>
    </section>

  <!-- Things We Do -->

    <section class="hero is-medium is-dark is-bold pricing-grid plus">
        <div class="hero-body">
            <div class="container">
                <div class="columns">

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong>(1) Lead Shooter</strong>
                        </h3>
                        <p class="subtitle is-4">
                            You will receive 1 videographer all day, who is focused on all the main events of your big day.
                        </p>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong>8 hours of coverage</strong>
                        </h3>
                        <p class="subtitle is-4">
                          Normally, we try to start about a half-hour before photos start. This allows the photographer to have time with "the details" alone if they would like. We will communicate before-hand with the couple and the photographer to see what the perfect schedule would be. However, we will figure out the exact coverage that will fit your day perfectly.
                        </p>
                    </div>

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong>Shot in 1080p, delivered in 1080p</strong>
                        </h3>
                        <p class="subtitle is-4">
                            Our Single Shooter Package delivers you stunning video of your wedding day, in full-HD 1080p.
                        </p>
                    </div>

                </div>

                <div class="columns">

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong> Multiple delivery formats</strong>
                        </h3>
                        <p class="subtitle is-4">
                            We use MediaZilla as it provides the easiest way to download, burn DVD/Blu Ray and view from your computer. Also included is a Vimeo Portfolio in 1080p of your films, which is best for viewing on a phone or streaming via your smart TV, Apple TV or Roku. Here is an
                            <a href="https://mediazilla.com/Iojvtr313" title="MediaZilla example delivery" target="_blank">
                                example of MediaZilla's package
                            </a> as well as a
                            <a href="https://vimeopro.com/colorroomfilms/stefanie-and-frank" title="Example Vimeo Portfolio" target="_blank">
                                Vimeo Portfolio
                            </a>.
                        </p>
                    </div>

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong> (1) Choice between Documentary and Trailer edits</strong>
                        </h3>
                        <p class="subtitle is-4">
                            Full-length films generally range from 1 to 2 hours, depending on a
                            variety of factors, including: ceremony length, first look, intros, ect. Here is
                            <a href="https://vimeo.com/199419146" title="Example wedding trailer video" target="_blank">
                                a trailer example
                            </a> as well as
                            <a href="https://vimeo.com/191994856" title="Example wedding full-length film" target="_blank">
                                a full-length example
                            </a>.
                        </p>
                    </div>

                </div>

                <div class="columns">

                    <div class="column">
                        <h3 class="title is-3">
                            <i class="icon-plus" aria-hidden="true"></i> <strong> Delivery within (30) days</strong>
                        </h3>
                        <p class="subtitle is-4">
                            Our contract reads (90) days but normally our turnaround is <strong>much</strong> faster -
                            usually, within a week or two, depending on a variety of factors. Since we shoot at very high
                            resolutions, it can take a week for films to render (upload to sites, ect.).
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

  <!-- Things we don't do Component -->

    {% include wedontdo.html %}

  <!-- Call to Action -->

    <section class="section is-large">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <h3 class="title is-1">Want to see our other packages?</h3>
            <a class="button is-primary is-outlined is-large" href="{{ site.baseurl }}/pricing/" title="Visit our Pricing page to see our other packages">Go back to Pricing page</a>
          </div>
          <div class="column">
            <h3 class="title is-1">Need more coverage?</h3>
            <a class="button is-primary is-large" href="{{ site.baseurl }}/pricing/scarlet/" title="Learn more about our Scarlet package">See the Scarlet package!</a>
          </div>
        </div>
      </div>
    </section>
