---
layout: default
permalink: /weddings/
title: "Weddings | Color Room Films"
description: "View South Jersey's premier videographers' portfolio of recent wedding films. Relive your special day, forever!"
image: /img/weddings.jpg
keywords:
  - New Jersey
  - videographer
  - wedding film
  - cinematic
  - motion picture memories
  - NJ
  - wedding video
  - wedding movie
  - portfolio
  - contact
  - special day
featured_video: 191984048
featured_title: Allison & Kevin
---

<!-- Content -->

  <div class="img-header weddings-header"></div>

  {% include awards.html %}

  <div class="padbox">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="thin colorize">Your Day</h1>
          <p class="flow-text">
            The main focus of a wedding is the couple. Our number 1 priority is to give you the best and most honest wedding film possible while never getting in the way of the guest's experience. We do this by blending into to the background, normally working behind the photographer, which helps us get the most honest and candid films possible.
          </p>
          <h4 class="thin colorize">How We Work</h4>
          <p class="flow-text">
            Color Room Films only uses the best gear for the job. To capture our weddings we choose to use <em>8K cinema cameras</em>. The same cameras that are used on Hollywood sets. No bigger than a shoe box, our cameras aren't intrusive and we never use lights on our couples, making them feel uncomfortable. We only pose couples <strong>after</strong> the photographer has finished with their portrait session and we'll never ask you to do something you don't want to for the sake of a shot.
          </p>
          <p class="flow-text colorize">
            Our films are about <strong>your</strong> day and what <em>really</em> happened.
          </p>
        </div>
      </div>
    </div>
  </div>

    <div class="row featured-vid">
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/{{ page.featured_video }}?color=26a69a&title=0&byline=0&portrait=0" frameborder="0" title="{{ page.featured_title }} - Wedding Trailer by Color Room Films" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="row" style="margin-bottom: 0;">
      {% for weddingvids in site.weddingvids %}

        <article class="video">
          <figure>
            <a class="fancybox fancybox.iframe" href="https://player.vimeo.com/video/{{ weddingvids.link }}?color=26a69a&title=0&byline=0&portrait=0" title="{{ weddingvids.title }}">
            <img class="videoThumb" src="{{ weddingvids.thumb }}" alt="Thumbnail of {{ weddingvids.subtitle }} video"></a>
          </figure>
          <!-- <h4 class="videoTitle">{{ weddingvids.title }}</h4> -->
        </article>

      {% endfor %}
    </div>
