<!-- Awards Callout -->

    <div class="row center awards valign-wrapper">
      <div class="awards-title">
        <h4 class="bold valign">
            <a href="https://www.theknot.com/marketplace/color-room-films-llc-jackson-nj-963435" target="_blank">
              <small class="thin">Read our</small>
              <br/>
              Reviews!
            </a>
        </h4>
      </div>
      <div class="awards-container">
        <div class="award-item item-left">
          <a href="https://www.theknot.com/marketplace/color-room-films-llc-jackson-nj-963435" title="View us on The Knot to view our 2017 Best of Weddings Award!" target="_blank">
            <img class="responsive-img" src="{{ site.baseurl }}/img/theknot-h.png" alt="2017 Pick: The Knot Best of Weddings">
          </a>
        </div>
        <div class="award-item item-right">
          <a href="https://www.weddingwire.com/reviews/color-room-films-jackson/fd77ea76d63e4a5f.html" title="Visit us on WeddingWire to view our 2017 Couples' Choice Award!" target="_blank">
            <img class="responsive-img" src="{{ site.baseurl }}/img/weddingwire-h.png" alt="2017 Pick: WeddingWire Couples' Choice Award">
          </a>
        </div>
      </div>
    </div>
