  <!-- Superfooter Component -->

    <div class="superfooter has-text-centered">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <a href="https://goo.gl/maps/LMUfSyy918v" alt="View Color Room Films on Google Maps" target="_blank">
                        <i class="icon-map-marker"></i> Jackson, New Jersey 08527
                    </a>
                </div>
                <div class="column">
                    <a href="tel:+18622215716" alt="Give Color Room Film a Call">
                        <i class="icon-phone"></i> +1.862.221.5716
                    </a>
                </div>
                <div class="column">
                    <a href="mailto:info@colorroomfilms.com" alt="Send Color Room Films an Email">
                        <i class="icon-envelope"></i> info@colorroomfilms.com
                    </a>
                </div>
            </div>
        </div>
    </div>

  <!-- Footer Component -->

    <footer class="footer">
      <div class="columns">
        <div class="column is-6 is-hidden-mobile">
          © 2017 Color Room Films
        </div>
        <div class="column is-6 social is-hidden-mobile">
          <a href="{{ site.facebook_url }}" title="{{ site.facebook_title }}" target="_blank"><i class="icon-facebook"></i></a>
          <a href="{{ site.twitter_url }}" title="{{ site.twitter_title }}" target="_blank"><i class="icon-twitter"></i></a>
          <a href="{{ site.instagram_url }}" title="{{ site.instagram_title }}" target="_blank"><i class="icon-instagram"></i></a>
          <a href="{{ site.google_url }}" title="{{ site.google_title }}" target="_blank"><i class="icon-google-plus"></i></a>
          <a href="{{ site.vimeo_url }}" title="{{ site.vimeo_title }}" target="_blank"><i class="icon-vimeo"></i></a>
          <a href="{{ site.youtube_url }}" title="{{ site.youtube_title }}" target="_blank"><i class="icon-youtube"></i></a>
        </div>

        <div class="column is-hidden-tablet has-text-centered">
          © 2017 Color Room Films
        </div>
        <div class="column is-hidden-tablet has-text-centered">
          <a href="{{ site.facebook_url }}" title="{{ site.facebook_title }}" target="_blank"><i class="icon-facebook"></i></a>
          <a href="{{ site.twitter_url }}" title="{{ site.twitter_title }}" target="_blank"><i class="icon-twitter"></i></a>
          <a href="{{ site.instagram_url }}" title="{{ site.instagram_title }}" target="_blank"><i class="icon-instagram"></i></a>
          <a href="{{ site.google_url }}" title="{{ site.google_title }}" target="_blank"><i class="icon-google-plus"></i></a>
          <a href="{{ site.vimeo_url }}" title="{{ site.vimeo_title }}" target="_blank"><i class="icon-vimeo"></i></a>
          <a href="{{ site.youtube_url }}" title="{{ site.youtube_title }}" target="_blank"><i class="icon-youtube"></i></a>
        </div>
      </div>
    </footer>

  <!-- Subfooter Component -->

    <div class="subfooter has-text-centered">
      Created by <a href="https://dinsmoredesign.com" title="Let us create your next website!" target="_blank">Dinsmore Design</a> | We Build Brands.
    </div>
