<!-- Footer -->

  <footer class="footer">
      <div class="columns">
        <div class="column is-6 is-hidden-mobile">
          © 2017 Color Room Films | Jackson, NJ
        </div>
        <div class="column is-6 social is-hidden-mobile">
          <a href="{{ site.facebook_url }}" title="{{ site.facebook_title }}" target="_blank"><i class="icon-facebook"></i></a>
          <a href="{{ site.twitter_url }}" title="{{ site.twitter_title }}" target="_blank"><i class="icon-twitter"></i></a>
          <a href="{{ site.youtube_url }}" title="{{ site.youtube_title }}" target="_blank"><i class="icon-youtube"></i></a>
          <a href="{{ site.vimeo_url }}" title="{{ site.vimeo_title }}" target="_blank"><i class="icon-vimeo"></i></a>
          <a href="{{ site.weddingwire_url }}" title="{{ site.weddingwire_title }}" target="_blank"><i class="icon-weddingwire"></i></a>
          <a href="{{ site.theknot_url }}" title="{{ site.theknot_title }}" target="_blank"><i class="icon-theknot"></i></a>
        </div>

        <div class="column is-hidden-tablet has-text-centered">
          © 2017 Color Room Films | Jackson, NJ
        </div>
        <div class="column is-hidden-tablet has-text-centered">
          <a href="{{ site.facebook_url }}" title="{{ site.facebook_title }}" target="_blank"><i class="icon-facebook"></i></a>
          <a href="{{ site.twitter_url }}" title="{{ site.twitter_title }}" target="_blank"><i class="icon-twitter"></i></a>
          <a href="{{ site.youtube_url }}" title="{{ site.youtube_title }}" target="_blank"><i class="icon-youtube"></i></a>
          <a href="{{ site.vimeo_url }}" title="{{ site.vimeo_title }}" target="_blank"><i class="icon-vimeo"></i></a>
          <a href="{{ site.weddingwire_url }}" title="{{ site.weddingwire_title }}" target="_blank"><i class="icon-weddingwire"></i></a>
          <a href="{{ site.theknot_url }}" title="{{ site.theknot_title }}" target="_blank"><i class="icon-theknot"></i></a>
        </div>
      </div>
  </footer>

  <div class="subfooter has-text-centered">
    Created by <a href="https://dinsmoredesign.com" title="Let us create your next website!" target="_blank">Dinsmore Design</a> | We Build Brands.
  </div>
