<!-- Navbar -->

  <div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="{{ site.baseurl }}/" class="brand-logo thin" title="Color Room Films | Home">
              <img src="{{ site.baseurl }}/img/logo.svg" alt="Color Room Films Logo" class="responsive-img" style="height: 50px; padding-top: 10px; padding-right: 10px;">
          </a>
          <a href="#!" data-activates="mobile-demo" class="button-collapse right" title="Color Room Films | Mobile Menu"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="{{ site.baseurl }}/" title="Color Room Films | Home">Home</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/about" title="Color Room Films | About">About</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/faq" title="Color Room Films | FAQ">FAQ</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/weddings" title="Color Room Films | Weddings">Weddings</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/contact" title="Color Room Films | Contact">Contact</a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li>
              <a href="{{ site.baseurl }}/" title="Color Room Films | Home">Home</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/about" title="Color Room Films | About">About</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/faq" title="Color Room Films | FAQ">FAQ</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/weddings" title="Color Room Films | Weddings">Weddings</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/contact" title="Color Room Films | Contact">Contact</a>
            </li>
            <hr />
            <li class="side-nav-social">
              <a title="Visit Color Room Films on WeddingWire" href="http://www.weddingwire.com/reviews/color-room-films-jackson/fd77ea76d63e4a5f.html" target="_blank">
                  WeddingWire<i class="icon-weddingwire right"></i>
              </a>
            </li>
            <li class="side-nav-social">
              <a title="Visit Color Room Films on The Knot" href="https://www.theknot.com/marketplace/color-room-films-llc-jackson-nj-963435" target="_blank">
                  The Knot<i class="icon-theknot right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="social-nav hide-on-med-and-down">
        <a title="Visit Color Room Films on WeddingWire" href="http://www.weddingwire.com/reviews/color-room-films-jackson/fd77ea76d63e4a5f.html" target="_blank">
          <i class="icon-weddingwire"></i>
        </a>
        <a title="Visit Color Room Films on The Knot" href="https://www.theknot.com/marketplace/color-room-films-llc-jackson-nj-963435" target="_blank">
          <i class="icon-theknot"></i>
        </a>
      </div>
    </nav>
  </div>
