<!-- JavaScript -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>

  {% if page.url == "/weddings/" %}
    <!-- Video Grid JS Modals -->
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fancybox.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $('.fancybox').fancybox({
            padding   : 0,
            maxWidth  : '100%',
            maxHeight : '100%',
            width   : 1280,
            height    : 720,
            autoSize  : true,
            closeClick  : true,
            openEffect  : 'elastic',
            closeEffect : 'elastic'
          });
        });
      </script>
  {% endif %}

  {% if page.url == "/contact/" %}
    <!-- Google Maps API -->
      <script>
        function initMap() {
          var uluru = {lat: 40.0919, lng: -74.3587};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzPeUo04sRLURY5PBAJBh0wH2udXXMhr4&callback=initMap"></script>
  {% endif %}

  {% if page.url == "/" %}
    <!-- Smooth Scrolling to Anchor Points -->
      <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 1000, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
      </script>
  {% endif %}
