<!-- Content Header -->

  <section class="section is-medium" id="content">
    <div class="container">
      <h3 class="title is-1 has-text-centered">Things we <strong>don't</strong> do:</h3>
    </div>
  </section>

<!-- Things We DON'T Do -->

  <section class="hero is-medium is-dark is-bold pricing-grid minus">
      <div class="hero-body">
          <div class="container">
              <h3 class="title is-3">
                  <i class="icon-minus" aria-hidden="true"></i> <strong> Provide "Raw Footage"</strong>
              </h3>
              <p class="subtitle is-4">
                  Since we shoot at very high resolutions in a "flat" profile there is no practical way to
                  supply couples with the "raw footage". We also do not shoot our wedding films in a consumer
                  format so the couple would need a commercial-level computer and software suite to view
                  footage. However, we do communicate with all couples before hand, multiple times, to make
                  sure if there is any event that is out-of-the-ordinary they want captured in full, we get
                  it for them! The below image shows what raw footage looks like vs the finished product; the
                  bottom half is how the footage looks, directly off the camera:
              </p>
              <img src="{{ site.baseurl }}/img/misc/raw-footage.jpg" alt="Graded vs. Raw video footage" style="width: 100%;height:auto;padding-bottom:1.5rem" />

              <div class="columns">

                  <div class="column">
                      <h3 class="title is-3">
                          <i class="icon-minus" aria-hidden="true"></i> <strong> Use on- and off-camera lights</strong>
                      </h3>
                      <p class="subtitle is-4">
                          We choose not to light any couple with anything except available light. We've found this makes
                          the couple feel more comfortable, along with their guests. Static lighting also tends to kill
                          the dance floor vibe!
                      </p>
                  </div>

                  <div class="column">
                      <h3 class="title is-3">
                          <i class="icon-minus" aria-hidden="true"></i> <strong> Fight with your photographer or vendors</strong>
                      </h3>
                      <p class="subtitle is-4">
                          Your day is about <strong>you</strong>, the couple, not the vendors. We make sure to touch
                          base with all vendors when possible before hand, especially the photographer. This way, we
                          can coordinate and get a vibe for how they want to work.
                      </p>
                  </div>

                  <div class="column">
                      <h3 class="title is-3">
                          <i class="icon-minus" aria-hidden="true"></i> <strong> Pose you for hours</strong>
                      </h3>
                      <p class="subtitle is-4">
                          We work with the photographer to make sure they get everything they need first, shooting
                          around them. Usually, in the time they are taking to move flashes or change a lens, ect. we
                          will shoot our footage. We <strong>love</strong> to get the couple out around sunset for a
                          quick session when possible and will coordinate this with your photographer.
                      </p>
                  </div>

                  <div class="column">
                      <h3 class="title is-3">
                          <i class="icon-minus" aria-hidden="true"></i> <strong> Use unflattering footage</strong>
                      </h3>
                      <p class="subtitle is-4">
                          We only include the best footage in your full length film and trailer. What this means is,
                          normally, there isn't a lot of "getting ready" footage in our full-films, as it is reserved
                          in small clips for the trailer. Again, every wedding is different and we will communicate
                          directly with the couple before-hand to make sure we get all the coverage.
                      </p>
                  </div>

              </div>

              <h3 class="title is-3">
                  <i class="icon-minus" aria-hidden="true"></i> <strong> Charge you for travel</strong>
              </h3>
              <p class="subtitle is-4">
                  Except in extreme circumstances, we'll never charge you for our travel time!
              </p>

          </div>
      </div>
  </section>
